{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container bg-info" style="color:white;margin-top: 4%;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10"><br><br><br>
            <h3 class="text-center">Book your unit here!</h3>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-sm btn-success" id="bookslot">Book unit</button>
            </form>
        </div>
        <div class="col-md-1"></div>
    </div><br><br><br><br><br>
</div>
{% endblock %}