{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{%load static%}

{% block content %}
<div class="container"><br><br>
    <div class="row sign-up">
    
   
        <div class="col-md-4">
            {% if form.errors %}
            <p class="small">Password or Username is incorrect</p>
            {% endif %} 
            <div class="section">
                <h1 style='color:#8a3ab9'><b>Grocery254</b></h1>
                <div class="form-section">
                    <form action="{% url 'login2' %}" method="POST">
                        {% csrf_token %} 
                        {% bootstrap_form form %}
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-lg" value="Login">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
            <div class="section">
                <p>Do not have an account? Register
                    <p>
                        <a href="{% url 'employee_register' %}">as a Employee</a> OR
                        <a href="{% url 'register' %}">as
                            a Customer</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}